<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appscreenlayout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Screens.Debriefing"
            android:label="@string/title_activity_debriefing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Screens.Queue" />
        <activity android:name=".Screens.BasicLevel" />
        <activity android:name=".Screens.FriendsList" />
        <activity android:name=".Screens.Shop" />
        <activity android:name=".Screens.HubWorld" />
        <activity android:name=".Screens.ResetPassword" />
        <activity
            android:name=".Screens.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>